.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--box-shodow-color);
  width: 100vw;
  padding: 0 5rem;
}

.navbar-links a {
  margin-left: 0.5rem;
  color: var(--text-color);
}
